window {
    margin: 0px;
    /* border: 1px solid #1d2021; */
    border-radius: 0;
    font-family: "Noto Sans";
    color: #fbf1c7;
    font-size: 12px;
}

#inner-box {
    margin: 0;
    padding: 0;
    border: 0;
}

#outer-box {
    margin: 0;
    padding: 0;
    border: 0;
    /* background-color: #3c3836; */
}

#scroll {
    margin: 0;
    padding: 0;
    border: 0;
}

#img {
    margin: 5px;
}

#entry {
    outline: none;
    border-radius: 0;
}

#text {
    padding: 5px;
}

{{color_scheme}}

#entry:nth-child(even) {
	background-color: #2b303b;
}

#entry:nth-child(even):selected {
	background-color: #4f5b66;
}

#input {
    margin-bottom: 10px;
    border-width: 0px;
    /* border-top: 1px solid #1d2021;
    border-left: 1px solid #1d2021;
    border-right: 1px solid #1d2021; */
    border-radius: 0;
    color: #fbf1c7;
    padding: 10px;
}

#input:focus {
    background-color: #3a444e;
}