window {
    /* border-radius: 10px; */
    background-color: rgba(0,0,0,0.0);
}

#outer-box {
    background-color: #1d1f25;
    padding: 1em 0.5em;
    border-radius: 10px;
}

button, image {
    background: none;
    border-style: none;
    box-shadow: none;
    color: #999;
}

button {
    padding: 1em 0em;
    margin: 0 0.5em;
    border-radius: 10px;
}

button:hover {
    background-color: rgba (255, 255, 255, 0.05);
    color: #eee;
    outline: none;
    box-shadow: none;
    border: none;
}

button:focus {
    background-color: rgba (255, 255, 255, 0.15);
    color: #eee;
    outline: none;
    box-shadow: none;
    border: none;
}
